streamlit>=1.38.0
pandas>=2.2.2
openpyxl>=3.1.5
python-dotenv>=1.0.1
numpy>=1.26.4
gspread>=6.1.4
google-auth>=2.34.0
google-auth-oauthlib>=1.2.1
google-auth-httplib2>=0.2.0
requests>=2.32.3
tqdm>=4.66.4

matplotlib>=3.9.0
openai==0.28.1

# FastAPI dependencies
fastapi>=0.115.0
uvicorn>=0.32.0
jinja2>=3.1.4
python-multipart>=0.0.9
